---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {storeItems} from '../storeStore'
import data from '../items.json';

data.items.forEach(item => storeItems.setKey(item.id, item));
---

<Layout title="Welcome to my Little Shop of Horrors">
	<main>
		<h1>Welcome to <div class="text-gradient">My Little Shop of Horrors</div></h1>
		<p class="instructions">
			Pick your <strong>favorite</strong> nightmare material!

		</p>
		<ul role="list" class="link-card-grid">
			{
				Object.keys(storeItems.get()).map((key) => {
					const item = storeItems.get()[key];
					return <Card
						href={`/items/${item.id}`}
						title={item.name}
						body={item.description.slice(0, 100).concat('...')}
						imageSrc={item.imageSrc}
					/>})
			}
		</ul>
	</main>
</Layout>